
.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 1.5rem 4rem;

  }
  
  .heading {
    color: var(--color-heading);
    font-weight: bold;
    line-height: 2.125rem;
  }
  
  .subtitle {
    color: var(--color-body);
    font-size: 1.125rem;
  }

  .exitPreview {
    background: var(--grey-1);
    border-radius: 4px;
  
    font-weight: 600;
    text-align: center;
  
    margin-bottom: 6.625rem;
  
    a {
      display: block;
  
      font-size: 1.125rem;
      padding: 1.125rem 0;
  
      color: var(--grey-4);
    }
  }  